@model List<Category>

@{
    ViewData["Title"] = "Categoreis";

    var isShow = TempData["isSuccess"] is not null;
    bool isSuccess =isShow && Convert.ToBoolean(TempData["isSuccess"]);
}

@if (isShow)
{
    if (isSuccess)
    {
        <div class="alert alert-success" role="alert">
            @TempData["message"]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @TempData["message"]
        </div>
    }
}

<div>
    <div>
        <h4>Category List</h4>
        <a href="@Url.Action("Create","Categories")" class=" btn btn-light">Create</a>
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="colgroup">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <th scope="row">@category.CategoryId</th>
                    <td>@category.Name</td>
                    <td class=" d-flex justify-content-end">
                        <a
                            asp-controller="Categories" 
                            asp-action="Edit" 
                            asp-route-id="@category.CategoryId" 
                            class="btn btn-warning me-1"
                        >Edit
                        </a>
                        <a asp-controller="Categories"
                               asp-action="Detail"
                               asp-route-id="@category.CategoryId"
                               class="btn btn-info me-1">
                            Detail
                        </a>
                        <form action="/categories/delete/@category.CategoryId" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger" />    
                        </form>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>