
@using SuperMarket.Models
@model Post

@{
    ViewData["Title"] = "Edit Post";

    var categories = ViewBag.categories as List<Category>;
}

<div class="text-danger" asp-validation-summary="All"></div>

<div class="mx-auto container">
    <form method="post" action="/posts/edit/@Model.PostId">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" name="Name" value="@Model.Name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="Description" value="@Model.Description">
        </div>
        <div class="mb-3">
            <label for="CategoryId" class="form-label">Category</label>
            <select class="form-select" name="CategoryId" aria-label="Default select example">
                @foreach (var category in categories!)
                {
                    if (category.CategoryId ==Model.CategoryId)
                        {
                            <option value="@category.CategoryId" selected>@category.Name</option>
                        }
                        else
                        {
                        <option value="@category.CategoryId">@category.Name</option>
                            
                        }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </form>
</div>